BasedOnStyle:  WebKit
ColumnLimit:     140
IndentCaseLabels: true
Cpp11BracedListStyle: true
Standard: C++11
NamespaceIndentation: None
BinPackParameters: false
BinPackArguments: false
AlignAfterOpenBracket: Align
PenaltyExcessCharacter: 4
PenaltyBreakComment: 5
PenaltyBreakBeforeFirstCallParameter: 200
BreakBeforeBraces: Attach
AllowShortBlocksOnASingleLine: false
AllowShortFunctionsOnASingleLine: Empty
PenaltyBreakFirstLessLess: 50
AlwaysBreakTemplateDeclarations: true
UseTab:    Never
TabWidth:        4
SortIncludes:    false
AlignConsecutiveAssignments: true
AlignConsecutiveDeclarations: true
AlignEscapedNewlinesLeft: true
SpaceBeforeCpp11BracedList: false